POSTGRES_PORT=5432
POSTGRES_DB=mydb
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
REDIS_PORT=6379
REDIS_PASSWORD=redispassword
NODE_PORT=3000
AUTH0_DOMAIN=example-domain.us.auth0.com
AUTH0_AUDIENCE=https://example-audience
AUTH0_CLIENT_ID=example-client-id
AUTH0_CLIENT_SECRET=example-client-secret
AUTH0_CONNECTION=example-connection-name
ENABLE_LOG_FILE=true
LOG_DIR=./logs
LOG_FILENAME_PREFIX=pa
CONSOLE_LOG_LEVEL=info
FILE_LOG_LEVEL=debug
LOG_FORMAT=[%timestamp%] %level%: %message%
USERS_SEED_PATH=./seeds/users.json
